<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
     <nav class="navbar" th:fragment="fragment-nav">
         <div class="navbar_logo">
             <i class="fa-brands fa-accusoft"></i>
             <a href="">MovieReservation</a>
         </div>
         <ul class="navbar_menu">
             <li><a href="">Home</a></li>
             <li><a href="">Gallery</a></li>
             <li><a href="">Weddings</a></li>
             <li><a href="">FAQ</a></li>
             <li><a href="">Bookings</a></li>
         </ul>
         <ul class="navbar_icons">
             <li><a href="/">LOGIN</a></li>
             <li><a href="/member_sign up">SIGN UP</a></li>
            <!-- <li><i class="fa-brands fa-twitter"></i></li>
             <li><i class="fa-brands fa-facebook-f"></i></li>-->
         </ul>
         <a href="#" class="navbar_toogleBtn">
             <i class="fa-solid fa-bars"></i>
         </a>
     </nav>